table {
    width: 70%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
a{
    color: red;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
#pagination button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}