<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="css/newsDetails.css">
</head>
<body>
<div id="app">
    <h1>{{ hotNews.title }}123</h1>
    <p>创建时间: {{ formatDate(hotNews.created_at) }}123</p>
    <div v-html="hotNews.article"></div>

    <h2>评论</h2>
    <ul>
        <li v-for="comment in comments" :key="comment.id">
            <p>{{ formatDate(comment.created_at) }}</p>
            <p>{{ comment.content }}</p>
        </li>
    </ul>

    <h2>发表评论</h2>
    <textarea v-model="newComment" rows="4" cols="50"></textarea>
    <button @click="submitComment">提交评论</button>

    <button @click="goToHomePage">返回首页</button>
</div>
</body>
</html>
<script src="js/vue.global.js"></script>
<script src="js/axios.min.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                id:"",
                hotNews: [],
                comments:[],
                newComment: '',
            };
        },
        methods: {
            searchNews() {
                axios.get("http://localhost:8080/news/hotNews/search", {
                    params: {
                        title: this.title
                    }
                }).then((res) => {
                    this.hotNews = res.data;
                });
            },
            submitComment() {
                axios.post("http://localhost:8080/news/hotNews/comment", {
                    content: this.newComment,
                }).then((res) => {
                    this.comments.push(res.data);
                    this.newComment = '';
                });
            },
            goToHomePage() {
                window.location.href = "http://localhost:8080/news/hotNews/index";
            },
            formatDate(date) {
                return new Date(date).toLocaleString();
            },
        },
        created() {
            // 获取id
            const searchParams = new URLSearchParams(window.location.search);
            this.id = searchParams.get('id');
            console.log("id",this.id)
            // 查询所有信息
            axios.get("http://localhost:8080/news/hotNews/getHotNewsAndCommentById",{
                id:this.id
            }).then((res) => {
                this.hotNews = res.data;
                console.log(this.hotNews)
            });
        },
    });

    app.mount('#app');
</script>

