<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热点事件排行榜</title>
    <link rel="stylesheet" href="css/newsList.css">
</head>
<body>
  <div id="app">
      <h1>热点事件排行榜</h1>
      关键词：<input type="text" id="search-input"  placeholder="关键词搜索" v-model="title">
      <button @click="searchNews">查询</button>
      <table id="events-table">
          <thead>
          <tr>
              <th>关键词</th>
              <th>搜索指数</th>
              <th>创建时间</th>
          </tr>
          </thead>
          <tr v-for="news in hotNews" :key="news.id">
              <td @click="goToDetail(news.id)"><a href="#">{{news.title}}</a></td>
              <td>{{news.numberOfSearches}}</td>
              <td>{{news.created_at}}</td>
          </tr>
      </table>
      <div id="pagination">
          <button @click="goToFirstPage()" :disabled="currentPage === 1">首页</button>
          <button @click="goToPreviousPage()" :disabled="currentPage === 1">上一页</button>
          <span id="current-page">{{ currentPage }}</span> / <span id="total-pages">{{ totalPages }}</span>
          <button @click="goToNextPage()" :disabled="currentPage === totalPages">下一页</button>
          <button @click="goToLastPage()" :disabled="currentPage === totalPages">末页</button>
      </div>
  </div>

</body>
</html>
<script src="js/vue.global.js"></script>
<script src="js/axios.min.js"></script>
<script>

    const app = Vue.createApp({
        data() {
            return {
                title: '',
                hotNews: [],
                currentPage: 1,
                totalPages: 1,
                pageSize: 3,
            };
        },
        methods: {
            searchNews() {
                axios.get("http://localhost:8080/news/hotNews/getCount",{
                    params: {title:this.title}
                }).then((res)=>{
                    console.log("记录数：",res.data)
                    this.totalPages = (res.data+this.pageSize-1)/this.pageSize
                    console.log(this.totalPages)
                })
                axios.get("http://localhost:8080/news/hotNews/search", {
                    params: {
                        title: this.title,
                        offset: this.currentPage,
                        pageSize: this.pageSize,
                    }
                }).then((res) => {
                    this.hotNews = res.data;
                });
            },
            goToDetail(id) {
                window.location.href = "http://localhost:8080/news/newsDetails.html?id=" + id;
            },
            goToFirstPage() {
                if (this.currentPage !== 1) {
                    this.currentPage = 1;
                    this.searchNews();
                }
            },
            goToPreviousPage() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.searchNews();
                }
            },
            goToNextPage() {
                if (this.currentPage < this.totalPages) {
                    this.currentPage++;
                    this.searchNews();
                }
            },
            goToLastPage() {
                if (this.currentPage !== this.totalPages) {
                    this.currentPage = this.totalPages;
                    this.searchNews();
                }
            },
        },
        created() {
            this.searchNews();
        },
    });

    app.mount('#app');
</script>

