<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="css/newsDetails.css">
</head>
<body>
<div id="app">
    <h1>{{hotNews.title}}</h1>
    <p>创建时间: {{ hotNews.created_at }}</p>
    <div v-html="hotNews.article"></div>

    <h2>评论</h2>
    <ul ref="comments">
        <li v-for="comment in comments" :key="comment.id">
            <p>日期：{{ comment.created_at }}</p>
            <p>{{ comment.content }}</p>
        </li>
    </ul>

    <h2>发表评论</h2>
    <textarea v-model="newComment" rows="4" cols="50"></textarea>
    <button @click="submitComment">提交评论</button>

    <button @click="goToHomePage">返回首页</button>
</div>
</body>
</html>
<script src="js/vue.global.js"></script>
<script src="js/axios.min.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                id:"",
                hotNews: [],
                comments:[],
                newComment: '',
            };
        },
        methods: {
            submitComment() {
                console.log(this.newComment,this.id)
                axios.put("http://localhost:8080/news/comment/addComment", {
                    hot_news_id:this.id,content: this.newComment,
                }).then((res) => {
                    const newComment = {
                        created_at: new Date().toLocaleString(),
                        content: this.newComment
                    }
                    this.comments.push(newComment);
                    console.log(this.comments)
                    this.newComment = '';
                });
            },
            goToHomePage() {
                window.location.href = "http://localhost:8080/news/newsList.html";
            },
        },
        created() {
            // 获取id
            const searchParams = new URLSearchParams(window.location.search);
            this.id = searchParams.get('id');
            console.log(this.id)
            // 获取热点内容  | hotNews
            axios.get("http://localhost:8080/news/hotNews/getHotNewsAndCommentById",{
                params: {
                    id:this.id
                }
            }).then((res) => {
                this.hotNews = res.data[0];
                console.log('热点内容：',this.hotNews)
            });
            // 获取评论区  | comment
            axios.get("http://localhost:8080/news/comment/getCommentByhotNewsId",{
                params: {
                    hotNewsId:this.id
                }
            }).then((res) => {
                this.comments = res.data;
                console.log("评论：",this.comments)
            });
        },
    });

    app.mount('#app');
</script>

