<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热点事件排行榜</title>
    <link rel="stylesheet" href="css/newsList.css">
</head>
<body>
  <div id="app">
      <div v-if="welcome" class="form-group" style="color: red;font-size: 24px;">{{welcome}}</div>
      <h1>热点事件排行榜</h1>
      关键词：<input type="text" id="search-input"  placeholder="关键词搜索" v-model="title">
      <button @click="searchNews">查询</button>
      <table id="events-table">
          <thead>
          <tr>
              <th>关键词</th>
              <th>
                  搜索指数
                  <a href="#" @click="toggleOrder('asc')" :class="{ 'active': sortOrder === 'asc' }">▲</a>
                  <a href="#" @click="toggleOrder('desc')" :class="{ 'active': sortOrder === 'desc' }">▼</a>
              </th>
              <th>创建时间</th>
          </tr>
          </thead>
          <tr v-for="news in hotNews" :key="news.id">
              <td @click="goToDetail(news.id)">
                  <a href="#"
                     v-html="highlightTitle(news.title)">
                  </a>
              </td>
              <td>{{news.numberOfSearches}}</td>
              <td>{{news.created_at}}</td>
          </tr>
      </table>
      <div id="pagination">
          <button @click="goToFirstPage()" :disabled="currentPage === 1">首页</button>
          <button @click="goToPreviousPage()" :disabled="currentPage === 1">上一页</button>
          <span id="current-page">{{ currentPage }}</span> / <span id="total-pages">{{ totalPages }}</span>
          <button @click="goToNextPage()" :disabled="currentPage === totalPages">下一页</button>
          <button @click="goToLastPage()" :disabled="currentPage === totalPages">末页</button>
      </div>
  </div>

</body>
</html>
<script src="js/vue.global.js"></script>
<script src="js/axios.min.js"></script>
<script>

    const app = Vue.createApp({
        data() {
            return {
                title: '',
                hotNews: [],
                currentPage: 1,
                totalPages: 1,
                pageSize: 3,
                userId: "",
                nickname: "",
                welcome: "",
                sortOrder: '',
            };
        },
        methods: {
            searchNews() {
                axios.get("http://localhost:8080/news/hotNews/getCount",{
                    params: {title:this.title}
                }).then((res)=>{
                    console.log("记录数：",res.data)
                    this.totalPages = Math.ceil (res.data/this.pageSize)
                    console.log(this.totalPages)
                })
                axios.get("http://localhost:8080/news/hotNews/search", {
                    params: {
                        title: this.title,
                        offset: this.currentPage,
                        pageSize: this.pageSize,
                        desc:this.sortOrder
                    }
                }).then((res) => {
                    this.hotNews = res.data;
                });

            },
            toggleOrder(order) {
                this.sortOrder = order === this.sortOrder ? '' : order; // 切换排序顺序
                this.searchNews(); // 重新搜索
            },
            highlightTitle(title) {
                const regex = new RegExp(this.title, 'gi');
                return title.replace(regex, `<span class="highlight">$&</span>`);
            },
            goToDetail(hotNewsId) {
                window.location.href = "http://localhost:8080/news/newsDetails.html?hotNewsId=" + hotNewsId+"&userId="+this.userId+"&nickname="+this.nickname;
            },
            goToFirstPage() {
                if (this.currentPage !== 1) {
                    this.currentPage = 1;
                    this.searchNews();
                }
            },
            goToPreviousPage() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.searchNews();
                }
            },
            goToNextPage() {
                if (this.currentPage < this.totalPages) {
                    this.currentPage++;
                    this.searchNews();
                }
            },
            goToLastPage() {
                if (this.currentPage !== this.totalPages) {
                    this.currentPage = this.totalPages;
                    this.searchNews();
                }
            },
        },
        created() {
            this.searchNews();
            // 欢迎语句 | 获取id 和 昵称
            const searchParams = new URLSearchParams(window.location.search);
            this.userId = searchParams.get('id');
            console.log(this.id)
            this.nickname = searchParams.get('nickname')
            this.welcome = "欢迎用户："+this.nickname;
            console.log(this.nickname)
        },

    });

    app.mount('#app');
</script>

