
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
<div id="app" class="container">
    <h2>用户注册</h2>
    <form @submit.prevent="submitForm">
        <div class="form-group">
            <label for="nickname">昵称</label>
            <input type="text" id="nickname" v-model="user.nickname">
            <div v-if="errors.nickname" class="error-message">{{ errors.nickname }}</div>
        </div>
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" id="username" v-model="user.username" required>
            <div v-if="errors.username" class="error-message">{{ errors.username }}</div>
        </div>

        <div class="form-group">
            <label for="gender">性别</label>
            <div id="gender">
                <label>
                    <input type="radio" id="male" value="male" v-model="user.gender"> 男
                </label>
                <label>
                    <input type="radio" id="female" value="female" v-model="user.gender"> 女
                </label>
            </div>
            <div v-if="errors.gender" class="error-message">{{ errors.gender }}</div>
        </div>

        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" id="password" v-model="user.password" required>
            <div v-if="errors.password" class="error-message">{{ errors.password }}</div>
        </div>

        <div class="form-group">
            <label for="confirm-password">确认密码</label>
            <input type="password" id="confirm-password" v-model="confirmPassword" required>
            <div v-if="errors.confirmPassword" class="error-message">{{ errors.confirmPassword }}</div>
        </div>

        <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" id="email" v-model="user.email" required >
            <div v-if="errors.email" class="error-message">{{ errors.email }}</div>
        </div>

        <div class="form-group">
            <label for="mobile">手机号</label>
            <input type="tel" id="mobile" v-model="user.mobile">
            <div v-if="errors.mobile" class="error-message">{{ errors.mobile }}</div>
        </div>

        <div class="form-group">
            <label for="location">城市</label>
            <input type="text" id="location" v-model="user.location">
            <div v-if="errors.location" class="error-message">{{ errors.location }}</div>
        </div>

        <div class="form-group">
            <label for="code">验证码</label>
            <img :src="url" alt="验证码">
            <input type="text" id="code" v-model="code" required>
            <div v-if="errors.code" class="error-message">{{ errors.code }}</div>
        </div>
        <div v-if="successMessage" class="form-group success-message">{{ successMessage }}</div>

        <div class="form-group">
            <button type="submit">提交注册</button>
        </div>

    </form>
</div>

<script src="js/vue.global.js"></script>
<script src="js/axios.min.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                user: {},
                code: '',
                errors: {},
                successMessage: '',
                url: "",
                map: [],


            };
        },
        methods: {
            submitForm() {
                // 重置错误和成功消息
                this.errors = {};
                this.successMessage = '';

                // 进行表单验证
                if (!this.user.username) {
                    this.errors.username = '请填写用户名';
                }
                if (!this.user.nickname) {
                    this.errors.nickname = '请填写昵称';
                }

                if (!this.user.email) {
                    this.errors.email = '请填写邮箱';
                }
                if (!this.user.gender) {
                    this.errors.gender = '请选择性别';
                }

                if (!this.user.password) {
                    this.errors.password = '请填写密码';
                }

                if (!this.confirmPassword) {
                    this.errors.confirmPassword = '请确认密码';
                } else if (this.confirmPassword !== this.user.password) {
                    this.errors.confirmPassword = '两次输入的密码不一致';
                }

                if (!this.code) {
                    this.errors.code = '请填写验证码';
                }

                if (!this.user.mobile) {
                    this.errors.mobile = '请填写手机号';
                } else if (!/^\d{11}$/.test(this.user.mobile)) {
                    this.errors.mobile = '无效的电话号码';
                }
                if (!this.user.location) {
                    this.errors.location = '请填写城市';
                }

                // 已注册验证
                this.checkUserName();
                this.checkEmail();
                this.checkMobile();
                console.log(this.errors)
                // 如果没有错误，则提交表单
                if (Object.keys(this.errors).length === 0) {
                    this.register();
                    this.user = {};
                    this.confirmPassword = "";
                }
            },
            checkUserName() {
                axios.get("http://localhost:8080/news/user/checkUserName",{
                    params:{username:this.user.username}
                }).then(res => {
                    if (res.data >= 1) {
                        this.errors.username = '用户名已被注册';
                    } else {
                        delete this.errors.username;
                    }
                })
            },
            checkEmail() {
                axios.get("http://localhost:8080/news/user/checkEmail",{
                    params:{email:this.user.email}
                }).then(res => {
                    if (res.data >= 1) {
                        this.errors.email = '邮箱已被注册';
                    } else {
                        delete this.errors.email;
                    }
                })
            },
            checkMobile() {
                axios.get("http://localhost:8080/news/user/checkMobile",{
                    params:{mobile:this.user.mobile}
                }).then(res => {
                    if (res.data >= 1) {
                        this.errors.mobile = '手机号已被注册';
                    } else {
                        delete this.errors.mobile;
                    }
                })
            },

            register() {
                axios.post("http://localhost:8080/news/user/register?code=" + this.code, this.user).then(res => {
                    this.map = res.data
                    if (this.map.state === true) {
                        window.location.href = '/news/login.html'
                    }
                })
            },
        },
        created() {
            axios.get("http://localhost:8080/news/user/getImage/").then(res => {
                console.log("验证码；",res.data)
                this.url = res.data;
            })
        },


    });

    app.mount('#app');
</script>
</body>
</html> 

