<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Dao.CommentDao">


    <insert id="addComment" parameterType="com.example.entity.Comment">
        INSERT INTO comment ( content, hot_news_id, created_at, updated_at)
        VALUES (#{content}, #{hot_news_id}, now(), now())
    </insert>
    <select id="getCommentByhotNewsId" resultType="com.example.entity.Comment">
        select * from comment
        where hos_news_id = #{hosNewsId}
    </select>

</mapper>