<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Dao.HotNewsDao">


<!--    <select id="getAll" resultType="com.example.entity.HotNews">-->
<!--        select id,title,article,numberOfSearches,created_at,updated_at from hot_news-->
<!--    </select>-->
    <select id="getHotNewsByTitle" resultType="com.example.entity.HotNews">
        select id,title,article,numberOfSearches,created_at,updated_at from hot_news
        where title like CONCAT('%',#{title},'%')
        ORDER BY numberOfSearches desc
            LIMIT #{pageSize} OFFSET ${(offset-1)*pageSize}
    </select>

    <select id="getHotNewsAndCommentById" resultType="com.example.entity.HotNews">
        SELECT * FROM
            hot_news
        WHERE
            id = #{id}
    </select>

    <select id="countByTitle" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM hot_news
        WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>
</mapper>