<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Dao.UserDao">

    <insert id="register" parameterType="com.example.entity2.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (nickname, username, gender, password, email, mobile, location, created_at, updated_at)
        VALUES (#{nickname}, #{username}, #{gender}, #{password}, #{email}, #{mobile}, #{location}, now(), now())
    </insert>
    <select id="checkUserName" resultType="java.lang.Integer">
        select count(1) from user where username = #{username}
    </select>
    <select id="checkEmail" resultType="java.lang.Integer">
        select count(1) from user where email = #{email}
    </select>
    <select id="checkMobile" resultType="java.lang.Integer">
        select count(1) from user where mobile = #{mobile}
    </select>
    <select id="login" resultType="com.example.entity2.User">
        select * from user where username = #{username} and password = #{password}
    </select>
</mapper>
